{% extends "base.html" %}

{% block title %}Eszközök Kezelése - Admin{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Eszközök Kezelése</h2>
        <a href="{{ url_for('admin_add_equipment') }}" class="btn btn-success">
             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/></svg>
             Új Eszköz Hozzáadása
        </a>
    </div>

    {% if equipment_list %}
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Típus</th>
                        <th scope="col">Márka</th>
                        <th scope="col">Modell</th>
                        <th scope="col" class="text-end">Készlet (db)</th>
                        <th scope="col" class="text-end">Kölcs. díj (Ft)</th>
                        <th scope="col" class="text-center">Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in equipment_list %}
                        <tr>
                            <th scope="row">{{ item.EquipmentID }}</th>
                            <td>{{ item.EquipmentType }}</td>
                            <td>{{ item.Brand | default('N/A', true) }}</td>
                            <td>{{ item.Model | default('N/A', true) }}</td>
                            <td class="text-end">{{ item.QuantityInStock }}</td>
                            <td class="text-end">{{ "%.0f"|format(item.RentalPrice|float) if item.RentalPrice is not none else 'N/A' }}</td>
                            <td class="text-center">
                                {# Szerkesztés gomb #}
                                <a href="{{ url_for('admin_edit_equipment', equipment_id=item.EquipmentID) }}" class="btn btn-outline-primary btn-sm" title="Szerkesztés">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>
                                    Szerkesztés
                                </a>

                                {# templates/admin/admin_equipment.html fájlban #}

                         <form action="{{ url_for('admin_delete_equipment', equipment_id=item.EquipmentID) }}" method="POST" class="d-inline ms-1">
                            <button type="submit" class="btn btn-outline-danger btn-sm" title="Törlés"
                
                            onclick="return confirm('Biztosan törlöd? ID: {{ item.EquipmentID }}');"
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16"><path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/></svg>

                              </button>
                         </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Jelenleg nincsenek kölcsönözhető eszközök az adatbázisban. <a href="{{ url_for('admin_add_equipment') }}" class="alert-link">Adj hozzá egyet!</a>
        </div>
    {% endif %}

     <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Vissza a Vezérlőpulthoz</a>

{% endblock %}